.employes .datos-personales {
  transition: 0.3s ease all;
  display: none;
}
.employes .datos-personales.active {
  display: block;
}
.employes .direccion {
  transition: 0.3s ease all;
  display: none;
}
.employes .direccion.active {
  display: block;
}
.employes .puesto-trabajo {
  display: none;
}
.employes .puesto-trabajo.active {
  display: block;
}

.stepper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.stepper .step {
  margin: 10px;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  border: 1px solid #ccc;
  transition: 0.3s ease all;
}
.stepper .step.active {
  border: none;
  background: #3CA861;
}

.trabajadores-container .row .col-md-3 {
  background: #3aab83;
  display: flex;
  flex-direction: column;
}
.trabajadores-container .row .col-md-3 a {
  text-decoration: none;
  padding: 20px 10px;
  color: #fff;
  font-size: 18px;
}
.trabajadores-container .row .col-md-3 a:hover {
  cursor: pointer;
}
.trabajadores-container .row .col-md-3 a span i {
  font-size: 20px;
  margin: 0px 10px;
}
.trabajadores-container .row .col-md-9.cards-employes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.trabajadores-container .row .col-md-9.cards-employes .card-employe {
  padding: 5px;
  border: 1px solid red;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.trabajadores-container .row .col-md-9.cards-employes .card-employe .card-image {
  display: block;
  width: 100%;
  height: 250px;
}
.trabajadores-container .row .col-md-9.cards-employes .card-employe .datos-personales .dato {
  font-size: 14px;
}
.trabajadores-container .row .col-md-9.cards-employes .card-employe .datos-personales .informacion {
  font-size: 18px;
}

.mensaje {
  margin: 10px 0px;
  text-align: center;
  padding: 5px 10px;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto";
}

.container {
  padding: 30px;
  z-index: 100;
  width: 90%;
  margin: auto;
}
.container header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container header .logo img {
  width: 70px;
  height: 70px;
}
.container header .title {
  color: #808080;
  font-size: 18px;
  letter-spacing: 7px;
}
.container .button-to-sign .btn-login {
  border: 3px solid #78BDC4;
  background: transparent;
  padding: 10px 20px;
  border-radius: 40px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
}
.container .button-to-sign .btn-login:hover {
  cursor: pointer;
}
.container .landpage {
  width: 100%;
  background: url("../assets/LandPage.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  position: relative;
}
.container .landpage .footer-title {
  margin-top: 250px;
  color: #2E606E;
  font-weight: bold;
  font-size: 35px;
}
.container .landpage .footer-title span {
  display: block;
}

#form-login {
  background-color: rgba(0, 0, 0, 0.3);
  visibility: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#form-login.active {
  visibility: visible;
}
#form-login .popup {
  box-shadow: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  padding: 20px;
  opacity: 0;
  transition: 0.3s ease all;
  transform: scale(0.7);
}
#form-login .popup.active {
  opacity: 1;
  transform: scale(1);
}

#close-login {
  font-size: 16px;
  line-height: 16px;
  display: block;
  text-align: right;
  transition: 0.3 ease all;
}
#close-login:hover {
  cursor: pointer;
}

.contenedor {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.contenedor .caja {
  border-radius: 20px;
  padding: 20px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.contenedor .caja:hover {
  cursor: pointer;
}
.contenedor .caja .logo span {
  border-radius: 100%;
}
.contenedor .caja .logo span i {
  padding: 15px;
  background: #fff;
  border-radius: 100%;
  font-size: 45px;
}
.contenedor .caja .titulo {
  color: #fff;
  font-size: 21px;
}

/*# sourceMappingURL=main.css.map */
