@import "_variables.scss";
@import "employes.scss";
@import "departaments.scss";
@import "share.scss";
@import "jobs.scss";

* {
    padding: 0;
    margin: 0;
    font-family: "Roboto";
}

.container {
    padding: 30px;
    z-index: 100;
    width: 90%;
    margin: auto;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            img {
                width: 70px;
                height: 70px;
            }
        }
        .title {
            color: #808080;
            font-size: 18px;
            letter-spacing: 7px;
        }
    }
    .button-to-sign {
        .btn-login {
            border: 3px solid $buttonColor;
            background: transparent;
            padding: 10px 20px;
            border-radius: 40px;
            font-size: 13px;
            text-transform: uppercase;
            font-weight: bold;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .landpage {
        width: 100%;
        background: url("../assets/LandPage.svg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: flex;

        position: relative;

        .footer-title {
            margin-top: 250px;
            color: $footerSubtitle;
            font-weight: bold;
            font-size: 35px;
            span {
                display: block;
            }
        }
    }
}

#form-login {
    background-color: rgba(0, 0, 0, 0.3);
    visibility: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    &.active {
        visibility: visible;
    }
    .popup {
        box-shadow: rgba(0, 0, 0, 0.3);
        border-radius: 3px;
        padding: 20px;
        opacity: 0;
        transition: 0.3s ease all;
        transform: scale(0.7);
        &.active {
            opacity: 1;
            transform: scale(1);
        }
    }
}

#close-login {
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    transition: 0.3 ease all;
    &:hover {
        cursor: pointer;
    }
}
.login-title {
}

.contenedor {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    .caja {
        border-radius: 20px;
        padding: 20px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        &:hover{
            cursor: pointer;
        }
        .logo {
            span {
                border-radius: 100%;
                i {
                    padding: 15px;
                    background: #fff;
                    border-radius: 100%;
                    font-size: 45px;
                }
            }
        }
        
        .titulo {
            color: #fff;
            font-size: 21px;    
        }
    }
}
